body{
    font-family: 'Roboto', sans-serif;
    background-color: lightgray; 
}
h2, p, .readme-wrapper{
    text-align: center;
}
a{
    text-decoration: none;
    color: red;
}
a:hover{
    cursor: pointer;
    font-weight: bold;
    color: green;
}
span{
    color: purple;
    font-weight: bolder;
}